<h1>Available list of food types:</h1>

<% @edibles.each do |edible| %>
  <%= edible.name %><br />

  <a href="/edibles/<%=edible.name%>"></a>
  <br />
<% end %>
<h3><a href="/edibles/new"> Add </a> another food type 
<h3>Back to library of
    <a href="/locations">locations</a>
</h3>

<br>

<ul>
    <% @edibles.each do |edible| %>
    <h3>
        <a href="/edibles/<%= edible.id%>">"<%= edible.name%>"</a>
        by
        <%= edible.location.name%>
    </h3>
    <% end %>
</ul>