<% if !@edible.locations.empty? %>

  <h2>locations by
      <%=@edible.name%>:</h2>

  <ul>
      <%@edible.locations.each do |location| %>
      <li>
          <a href="/locations/<%= location.id%>"><%= location.name%></a>
      </li>
      <% end %>
  </ul>
<% else %>
  <h2>There are no locations by
      <%=@edible.name%>... yet</h2>
<% end %>

<br>
<h3>
    <a href="/edibles/<%=@edible.id%>/add_location">Add a location</a>
    to
    <%=@edible.name%>.
</h3>

<h3>Back to
    <a href="/">my library</a>
</h3>

<h3>Back to
    <a href="/edibles">all edibles</a>
</h3>
