<h2>Edit location
    #<%=@location.id%>:
</h2>

<h3>
<form action="/locations/<%= @location.id %>" method="POST">
    <label>Change address to: </label>
    <input type="text" name="location[address]" value="<%=@location.address%>">
  <br>
    <label>Change latitude to: </label>
    <input type="number" name="location[lat]" value="<%=@location.lat%>">

  <br>
    <label>Change longitude to: </label>
    <input type="number" name="location[lng]" value="<%=@location.lng%>">
    
  <br>

  <label>Location type:</label>
<select name="location[loc_type]">
        <% @locations.each do |location| %>
          <option value=<%=@location.id%> <%= "selected" if location.id==@location.edible_id%> ><%=location.loc_type%> 
        </option>     
        <% end %>
    </select>
<br>
<br>

Change food available at this location:
     <ul>
     <li><select name="edible[name1]"></li>
        <% @edibles.each do |edible| %>
          <option value=<%=@edible.id%> <%= "selected" if edible.id==@location.edible_id%> ><%=edible.name%> 
        </option>     
        <% end %>
    </select>
  </ul>

      <select name="edible[name2]">
        <% @edibles.each do |edible| %>
          <option value=<%=@edible.id%> <%= "selected" if edible.id==@location.edible_id%> ><%=edible.name%> 
        </option>     
        <% end %>
    </select>
  
<h3>
  Add another food item to this location:
    <a href="/locations/<%=@location.id%>/add_edible">Add food</a>
</h3>

    If it doesn't exist in our database please click here first:
    <a href="/edibles/new">add category</a>
<br>
<br>
    <label>Change description to:</label>
      <input type="text" name="location[description]" size="80" value="<%=@location.description%>">
 
    <br>
    
    <input type="submit" value="Submit">
   
  </form>



 


