<h2>Edit location
    #<%=@location.id%>:
</h2>

<h3>
<form action="/locations/<%= @location.id %>" method="POST">
    <label>Change address to: </label>
    <input type="text" name="address" value="<%=@location.address%>">
  <br>
    <label>Change latitude to: </label>
    <input type="number" name="lat" value="<%=@location.lat%>">

  <br>
    <label>Change longitude to: </label>
    <input type="number" name="lng" value="<%=@location.lng%>">
    
  <br>

  <label>Location Type:</label>
  <select name="selected_location">
      <option value="">
          -
        </option>
        <% @locations.each do |loc| %>
          <option value="<%=@location.loc_type%>"><%=@location.loc_type%></option>
        <% end %>
    </select>
<br>
  Food at this location: 
  <%=@edible.name%>
  <br>

    <h3><label>Choose a different food for this location:</label>
    <select name="selected_edible">
        <% @edibles.each do |edible| %>
          <option value=<%=@edible.id%> <%= "selected" if edible.id==@location.edible_id%> ><%=edible.name%> </option>
        <% end %>
    </select>
  
  <br>
    If the food you want to add doesn't exist please click here first:
    <a href="/edibles/new">add new food</a>
<br>
    <label>Change description to:</label>
      <input type="text" name="description" size="100" value="<%=@location.description%>">
 
    <br>
    
    <input type="submit" value="Submit">
   
  </form>



 


