<h2>Edit location
    #<%=@location.id%>:
</h2>

<h3>
<form action="/locations/<%= @location.id %>/edit" method="POST">
  <input type="hidden" name="_method" value="PATCH">
  
    <label>Change address to: </label>
    <input type="text" name="location[address]" value="<%=@location.address%>">
  <br>
    <label>Change latitude to: </label>
    <input type="text" name="location[lat]" step=0.01 value="<%=@location.lat%>">

  <br>
    <label>Change longitude to: </label>
    <input type="text" name="location[lng]" step=0.01 value="<%=@location.lng%>">
    
  <br>
    <label>Change description to:</label>
      <input type="text" name="location[description]" size="80" value="<%=@location.description%>">
 
    <br>
  <label>Change location type:</label>
<select name="location[loc_type]">

      <% @locations.each do |location| %>
        <option value="<%=location.loc_type%>"<%= "selected" if location.loc_type==@location.loc_type %> ><%=location.loc_type%>
        </option>
      <% end %>
  </select>



  <h3><label>Change food available at this location:</label>
        <select name="location[edible]">

      <% @edibles.each do |e| %>
        <option value="<%=e.edible%>"><%=e.edible%>
        </option>
      <% end %>
  </select>
<br>
 <br>

    
    <input type="submit" value="Submit">
   
  </form>

