

Click on location id for details:
<ul>
    <% @locations.each do |location| %>
    <h3>
        <a href="/locations/<%= location.id%>/edit"><%= location.id%>  </a>
         
     
     <%= location.address%>
     <%= location.lat%>
     <%= location.lng%>
    </h3>
    <% end %>
</ul>


<br>