
<h3> Click on location id for details:</h3>

  <ul>
    <% @locations.each do |location| %>
    <br>
        #<a href="/locations/<%= location.id%>"><%= location.id%>  </a>
    <%= location.address%>,
     <br>Lat.: <%= location.lat%>
     <br>Long.: <%= location.lng%>
    <br>
    <% end %>
<br>
</ul>

<h3>Back to
    <a href="/">My Locations</a>
</h3>

<h3>Back to
    <a href="/locations">All locations</a>
</h3>
