<h2>Fill out this form to add a new location:</h2>
<h3>
<form action="/locations" method="POST">

  <label>Choose a location type:</label>
  <select name="location[loc_type]">
      <option value="">
        -
      </option>
      <% @locations.each do |location| %>
        <option value="<%=location.loc_type%>"><%=location.loc_type%>
        </option>
      <% end %>
  </select>
<br>

<label> Location address</label>
  <input type="text" name="location[address]" size="40" > </br>

  <label> Latitude</label>
  <input id="location_lat" name="location[lat]" size="10" type="text" value="">

  <label> Longitude</label>
  <input id="location_lng" name="location[lng]" size="10" type="text" value=""><br>

  
      <label>Choose a food type for this location:</label>
  

  <select name="edible[name]">
      <option value="">
        -
      </option>
      <% @edibles.each do |edible| %>
        <option value="<%=edible.name%>"><%=edible.name%></option>
      <% end %>
  </select>
 
  <select name="edible[name]">
      <option value="">
        -
      </option>
      <% @edibles.each do |edible| %>
        <option value="<%=edible.name%>"><%=edible.name%></option>
      <% end %>
  </select>
  <select name="edible[name]">
      <option value="">
        -
      </option>
      <% @edibles.each do |edible| %>
        <option value="<%=edible.name%>"><%=edible.name%></option>
      <% end %>
  </select>
<br>


  <input type="submit" value="Create location">
</form>
<br>
<h3>If food doesn't exist, please <a href="/edibles/new"> add </a> new food type first.
<br>
</h3>






