<h2>Fill out this form to add a new location:</h2>
<h3>
<form action="/locations/new" method="POST">

  <label>Choose a location type:</label>
  <select name="location[loc_type]">
      <option value="">
        -
      </option>
      <% @locations.each do |location| %>
        <option value="<%=location.loc_type%>"><%=location.loc_type%>
        </option>
      <% end %>
  </select>
<br>

<label> Location address</label>
  <input type="text" name="location[address]" size="40" > </br>

  <label> Latitude</label>
  <input id="location_lat" name="location[lat]" size="10" type="text" value="">

  <label> Longitude</label>
  <input id="location_lng" name="location[lng]" size="10" type="text" value=""><br>

<label> Description</label>
<input type="text" name="location[description]" size="80" value="">

  <h3><label>Choose a food type for this location:</label>
  
  <select name="location[selected_edible]">
        <option value="">-</option>
        <% @edibles.each do |edible| %>
          <option value="<%=edible.name%>"><%=edible.name%></option>
        <% end %>
    </select>

    <select name="location[selected_edible]">
        <option value="">-</option>
        <% @edibles.each do |edible| %>
          <option value="<%=edible.name%>"><%=edible.name%></option>
        <% end %>
    </select>
   
        <label> or add a new one </label>
    <input type="text" name="location[edible]"> </h3>

    <input type="submit" value="Add location">
</form>

