

<h3>Location ID: </h3>
	#<%= @location.id %> 
<br>
<h3>Location address:</h3>
	<%= @location.address %> 
<br>
<h3>Latitude:</h3>
	<%= @location.lat %> 
<br>
<h3>Longitude:</h3>
	<%= @location.lng %> 
<br>

<h3>Food type:</h3>
<%=@edible.name%>
<br>
<br>
<h3><a href="/edibles/<%= @location.edible_id%>/edit"> Edit </a> location 
<br>

