

<h3>Location ID: 
	#<%= @location.id %> </h3>

<h3>Address:</h3>
	<%= @location.address %> 
<br>
<h3>Latitude:</h3>
	<%= @location.lat %> 
<br>
<h3>Longitude:</h3>
	<%= @location.lng %> 
<br>
<h3>Location type:</h3>
	<%= @location.loc_type %> 
<br>


<h3>Food available #1:</h3>
<%=@edible.name%>
<br>

<% @location.edibles.each do |edible| %>
    <li><a href="/edible/<%=edible.id%>"><%= edible.name %></a></li>
  <% end%>

<h3>Food available #2:</h3>
<%=@edible.name%>
<br>

<h3>Food available #3:</h3>
<%=@edible.name%>
<br>

<h3>Location description:</h3>
	<%= @location.description %> 


<br>
<br>
<h3><a href="/locations/<%= @location.edible_id%>/edit"> Edit </a> location 
<br>

