

<h3>Location ID: 
	#<%= @location.id %> </h3>

<h3>Address:</h3>
	<%= @location.address %> 
<br>
<h3>Latitude:</h3>
	<%= @location.lat %> 
<br>
<h3>Longitude:</h3>
	<%= @location.lng %> 
<br>
<h3>Location type:</h3>
	<%= @location.loc_type %> 
<br>


<h3>Food available</h3>
<%=@edible.name%>
<br>



<h3>Location description:</h3>
	<%= @location.description %> 


<br>
<h3>
    <a href="/locations/<%=@location.id%>/edit">Edit</a>
    <br>
    <a href="/locations/<%=@location.id%>/delete">Delete</a>
</h3>

<br>
<br>
ADD Delete this entry
