location:
    <%=@location.address%>
    <br>
    edible:
    <a href="/edibles/<%= @location.edible.id%>"><%= @location.edible.name%></a>


<% if @location.user == current_user%>
<h3>
    <a href="/locations/<%=@location.id%>/edit">Edit</a>
    <br>
    <a href="/locations/<%=@location.id%>/delete">Delete</a>
</h3>
<% end %>

<h3>Back to
    <a href="/">My Locations</a>
</h3>

<h3>Back to
    <a href="/locations">All locations</a>
</h3>
